<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title %> - docs.casa</title>
        <style>
        <%- include('../node_modules/picnic/picnic.min.css') %>
        <%- include('../node_modules/prismjs/themes/prism.css') %>
        nav {
          position: absolute;
        }
        main, footer {
            font-family: Georgia, "游明朝体", "YuMincho", "游明朝", "Yu Mincho", serif;
            max-width: 60ch;
            padding-left: 20px;
            padding-right: 10px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
        }
        </style>
    </head>
    <body>
        <header>
            <nav>
                <a class="brand" href="/">docs.casa</a>
                <input id="bmenub" type="checkbox" class="show">
                <label for="bmenub" class="burger pseudo button">menu</label>
                <div class="menu">
                    <a class="pseudo button" href="/profile/">Profile</a>
                </div>
            </nav>
        </header>
        <main>
            <%- content %>
        </main>
        <footer>
            Copyright &copy; 2020 TANIGUCHI Masaya All Rights Reserved.
        </footer>
    </body>
</html>
